n8n-workflow/n8n_qdrant_vectorize.json
{
  "name": "n8n_qdrant_vectorize",
  "nodes": [
    {
      "parameters": {
        "modelName": "models/text-embedding-004"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -340,
        240
      ],
      "id": "047fc618-d76b-4bbb-bb55-259f685054a9",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "Leo8yrirPIOn81hp",
          "name": "Google Gemini Chat Model"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $('When Executed by Another Workflow').item.json.transcripts }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        -220,
        242.5
      ],
      "id": "0a8596e1-1043-4921-9e5b-43a54facfdf6",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 200,
        "chunkOverlap": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -132,
        440
      ],
      "id": "258694db-5756-4b28-aae2-72b5c440b0b0",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "youtube",
          "mode": "list",
          "cachedResultName": "youtube"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.2,
      "position": [
        -320,
        20
      ],
      "id": "ee53070f-ae8a-4242-8e30-c0fd1457bf26",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "sFfERYppMeBnFNeA",
          "name": "Local QdrantApi database"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n    \"transcripts\": \"자 증시를 위협했던이란 이스라엘 사태가 1달락 되고 시장 다시 위험자 손호 현상을 보이고 있습들 뭐 월런 상원 이원 같이 굉장히 스펙될 수 있을 것 같습니다 이것으로 준비한 영상 마무리하고요 올 구독과 좋아요 많은 사랑도 부탁드리고 저희 텔레그램 사랑도 함께 부탁드립니다 감사합니다\"\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -560,
        20
      ],
      "id": "55147f86-5ea0-4ccb-bd5a-135da7579e63",
      "name": "When Executed by Another Workflow"
    }
  ],
  "pinData": {},
  "connections": {
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "64039ef4-3f87-417d-83b7-d8ec019102ed",
  "meta": {
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "StYeaUVkuM65MJ7h",
  "tags": []
}