n8n-workflow/n8n_youtube_summarization.json
{
  "name": "n8n-youtube-summarization",
  "nodes": [
    {
      "parameters": {
        "resource": "video",
        "operation": "get",
        "videoId": "={{ $json.id.replace(\"yt:video:\", \"\") }}",
        "part": [
          "contentDetails",
          "snippet",
          "id"
        ],
        "options": {}
      },
      "id": "e64cce1f-a10d-427a-abd1-bb8d9ff3b95f",
      "name": "Get video details",
      "type": "n8n-nodes-base.youTube",
      "position": [
        1340,
        270
      ],
      "typeVersion": 1,
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "RE4BInD7fS4UtA7D",
          "name": "YouTube account"
        }
      },
      "notes": "Make a call to the YouTube API so that we have the thumbnail for the email and the duration to filter out shorts."
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "triggerAtMinute": 47
            }
          ]
        }
      },
      "id": "cb5dd948-9764-4dbc-844d-7af84ffb48fa",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -420,
        170
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 1,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "5342ecc0-d764-4bef-8161-d1f571fcb931",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              },
              "leftValue": "={{ $json.contentDetails.duration }}",
              "rightValue": "\"duration\""
            },
            {
              "id": "b82e3373-a28b-49bd-afa0-4f48cafe2bfe",
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "leftValue": "={{ Duration.fromISO($json.contentDetails.duration).as('seconds') }}",
              "rightValue": 90
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "f99a92d0-ed60-4f6e-ba53-3907dcbc424a",
      "name": "Filter out shorts",
      "type": "n8n-nodes-base.if",
      "position": [
        1560,
        270
      ],
      "notesInFlow": false,
      "typeVersion": 2,
      "notes": "Sometime, some live broadcasts that are then posted as regular videos do not have a duration. That is why we check if `duration` is present in `contentDetails`."
    },
    {
      "parameters": {
        "content": "### Default frequency: every hour\nChanging it here is enough if you want to check for new videos at a higher or lower frequency. You don't have to edit anything else.",
        "height": 460,
        "width": 220,
        "color": 7
      },
      "id": "7c08b7df-df4f-4357-9ab3-276fe09f7156",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -480,
        -130
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Get my subscriptions from the YouTube Data v3 API\nYou can expect to use 1 quota per 50 subscriptions per run, which is well within the 10 000/req a day allowed by default.",
        "height": 460,
        "width": 880,
        "color": 5
      },
      "id": "21f9fb63-3de9-4e67-8a02-427a0199631c",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -260,
        -30
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Get the 15 latest videos of each channel with RSS\nUsing the YouTube API instead would cost too many quotas to make it viable.",
        "height": 280,
        "width": 440,
        "color": 4
      },
      "id": "221119bf-17c8-4334-b278-3c37254d90d2",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        840,
        150
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Call YouTube's API for more data\nWe need the thumbnails for the email and the duration to filter out shorts.",
        "height": 280,
        "width": 420,
        "color": 3
      },
      "id": "04b1411e-8f24-48de-804d-a7ca466aab72",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1290,
        150
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Configure your email here\nTo go to the video from the email, simply click on the thumbnail.",
        "height": 280,
        "width": 260,
        "color": 6
      },
      "id": "dbb25399-307f-4233-930e-2c1d99b397c5",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2740,
        -720
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "=https://www.youtube.com/feeds/videos.xml?channel_id={{ $json.snippet.resourceId.channelId }}",
        "options": {}
      },
      "id": "6b91fa79-7957-47e6-a8ef-b8f6f8f8e842",
      "name": "Get latest 15 videos of each channel",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        900,
        270
      ],
      "typeVersion": 1.1,
      "notes": "YouTube provides an RSS feed for each channel with the 15 latest videos.\nWe use this instead of the YouTube Data v3 API, as search requests cost a lot of \"quota points\" and would easily put us over the daily limit with just one workflow run."
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/subscriptions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "snippet,contentDetails"
            },
            {
              "name": "mine",
              "value": "true"
            },
            {
              "name": "maxResults",
              "value": "50"
            }
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "parameters": {
                "parameters": [
                  {
                    "name": "pageToken",
                    "value": "={{ $response.body.nextPageToken }}"
                  }
                ]
              },
              "paginationCompleteWhen": "other",
              "completeExpression": "={{ !('nextPageToken' in $response.body) }}"
            }
          }
        }
      },
      "id": "a68356a2-5225-4e27-a3a3-8554afd085f5",
      "name": "Get my subscriptions",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -200,
        170
      ],
      "notesInFlow": true,
      "typeVersion": 4.2,
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "RE4BInD7fS4UtA7D",
          "name": "YouTube account"
        }
      },
      "notes": "Get subscriptions from YouTube Data v3 API"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "5972ff90-aa5a-470c-aa96-87138eb60565",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $json.error }}",
              "rightValue": "error"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b49bfe8b-ef4f-4db8-a541-6929c0b59ada",
      "name": "Check for errors",
      "type": "n8n-nodes-base.if",
      "position": [
        20,
        170
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "4734ee8c-1655-47be-bd45-a9527aee2833",
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "leftValue": "={{ $json.contentDetails.newItemCount }}",
              "rightValue": 0
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6b3e8789-595b-4c96-a531-0825ff7eed1d",
      "name": "Only keep channels with unwatched videos",
      "type": "n8n-nodes-base.filter",
      "position": [
        460,
        270
      ],
      "typeVersion": 2.2,
      "notes": "It's not a perfect indicator for new videos but helps reduce the amount of channels to process."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "65d905a2-c89e-41f3-a2cf-0d1a76c48d8e",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              },
              "leftValue": "={{ $json.pubDate.toDateTime() }}",
              "rightValue": "={{ \n  $('Schedule Trigger').item.json.timestamp.toDateTime().minus(\n    24,\n    $('Schedule Trigger').params.rule.interval[0].field\n  ).toISO()\n}}"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4acc51c7-7eb1-4720-b5ab-97a432b10616",
      "name": "Keep only videos published since last run",
      "type": "n8n-nodes-base.filter",
      "position": [
        1120,
        270
      ],
      "typeVersion": 2.2,
      "notes": "We dynamically figure out the last run's execution time through the settings of the \"Schedule Trigger\" node."
    },
    {
      "parameters": {
        "errorMessage": "=Status code: {{ $json.error.code }}\nMessage: {{ $json.error.message }}"
      },
      "id": "38df6412-fd55-4ee2-95e9-f051b2af30f2",
      "name": "If the HTTP request failed, throw the error",
      "type": "n8n-nodes-base.stopAndError",
      "position": [
        240,
        70
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "options": {}
      },
      "id": "fcaddb25-0b99-419a-bac4-0c6511f1dd54",
      "name": "Split out subscriptions to process individually",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        240,
        270
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Manually filter out channels\nTo find the channel ID of a channel, click on the description → Share channel → Copy channel ID",
        "height": 360,
        "width": 220
      },
      "id": "7a71e53b-27ae-4125-a890-63d8783879b1",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        620,
        70
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "b27b14a9-c86c-4ebd-8a0f-4e7db722796e",
              "operator": {
                "type": "array",
                "operation": "contains",
                "rightType": "any"
              },
              "leftValue": "={{[\n\"UCIh431O7x00rZke3oNBuRRA\",\n\"UC59N4YTqBjs_xte25Fc2YPA\",\n]}}",
              "rightValue": "={{ $json.snippet.resourceId.channelId }}"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7ae9354e-4dfb-43f3-ad09-d6e5b33e2a81",
      "name": "Filter out channels",
      "type": "n8n-nodes-base.filter",
      "position": [
        680,
        270
      ],
      "notesInFlow": true,
      "typeVersion": 2.2,
      "notes": "Optional step"
    },
    {
      "parameters": {
        "chatId": "8123636831",
        "text": "=📢 새 동영상이 업로드되었습니다!\n📌 채널: {{ $json.snippet.channelTitle }} \n🎬 제목: {{ $json.snippet.title }} \n🔗 바로 보기: https://www.youtube.com/watch?v={{ $json.id}}\n✨ 동영상 내용을 요약하시겠어요?",
        "additionalFields": {
          "appendAttribution": "={{ false }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        416,
        980
      ],
      "id": "cff900c8-0003-4d03-bcb5-709586f1a21f",
      "name": "Telegram",
      "webhookId": "70eda5a4-2067-4abf-a21a-3b7478d3bdc0",
      "notesInFlow": false,
      "credentials": {
        "telegramApi": {
          "id": "iDYsysbbQ4q9DTCd",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/actor-tasks/energetic_antenna~youtube-transcript-scraper-task/run-sync-get-dataset-items",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"videoUrl\": \"https://www.youtube.com/watch?v={{ $json.id }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1780,
        170
      ],
      "id": "8f6f0130-74f6-4e99-a83f-1ddd166ba105",
      "name": "Get Youtube Transcripts",
      "credentials": {
        "httpBearerAuth": {
          "id": "yIuLFBZJ2qqkVMcG",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "python",
        "pythonCode": "texts = []\nfor row in _json['data']:\n    if 'text' in row:\n        texts.append(row['text'])\n\nfinal = {\n  'script': ' '.join(texts)\n}\n\nreturn final"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        170
      ],
      "id": "0370c5f1-b178-459d-84cc-d21f6c5c70d4",
      "name": "Code"
    },
    {
      "parameters": {
        "chunkingMode": "advanced",
        "options": {
          "summarizationMethodAndPrompts": {
            "values": {
              "combineMapPrompt": "다음 내용을 간결하게 요약해 주세요,:\n\n\"{text}\"\n\n간결한 요약:",
              "prompt": "=당신은 유튜브 영상 요약 전문가입니다. 당신의 임무는 유튜브 영상의 내용을 읽고, 주요 주제와 핵심 메시지를 파악하여 간결하고 명확하게 요약하는 것입니다.\n\n작업 지침:\n1. 아래 자막 내용을 분석하여, 어떤 주제들이 다뤄졌는지 파악하세요.\n2. 반복되거나 불필요한 말은 제거하고, 중요한 정보만을 남기세요.\n3. 영상의 핵심이 되는 여러 주제가 있다면 소주제로 나누고, 각 소주제 대한 요약을 불렛 포인트로 2줄 이내로 정리해주세요.\n4. 요약은 너무 길지 않게, 핵심만을 담아 전달해 주세요.\n\n출력 형식:\n- 전체 요약은 문단 또는 불렛 포인트 형식으로 정리할 수 있습니다.\n- 필요시 소주제별로 구조화해서 각 소주제에 대해 요약 정리해도 좋습니다. 이때 소주제는 (1), (2), (3) 등의 숫자로 구분해주세요.\n- 문체는 객관적이고 깔끔하게 작성해 주세요.\n- 마크다운 문법은 절대 사용하지 않으며, 필요시 숫자, 기호, 이모지를 활용해주세요.\n\n아래는 자막 내용입니다:\n\n\"{text}\""
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainSummarization",
      "typeVersion": 2.1,
      "position": [
        2280,
        -180
      ],
      "id": "21f175a0-a892-418f-a9ae-6617c98d1c78",
      "name": "Summarization Chain"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2308,
        40
      ],
      "id": "dbc9232c-175f-4297-9103-b27bacbbf38e",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Leo8yrirPIOn81hp",
          "name": "Google Gemini Chat Model"
        }
      }
    },
    {
      "parameters": {
        "chatId": "8123636831",
        "text": "=📢 요약된 영상 내용입니다.\n📌 채널: {{ $('Filter out shorts').item.json.snippet.channelTitle }}\n🎬 제목: {{ $('Filter out shorts').item.json.snippet.title }}\n🔗 바로 보기: https://www.youtube.com/watch?v={{ $('Filter out shorts').item.json.id }}\n✨ 요약 내용:\n{{ $json.output.text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2716,
        -80
      ],
      "id": "68874bac-de16-4c01-a371-6f5ff3eec3f7",
      "name": "Telegram1",
      "webhookId": "8ededcea-5374-44f4-834c-1d8d726f25e8",
      "credentials": {
        "telegramApi": {
          "id": "iDYsysbbQ4q9DTCd",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1780,
        370
      ],
      "id": "2cf59fc9-757c-4574-980e-4e1f45bea7b2",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -420,
        1340
      ],
      "id": "3917d786-32ae-4e03-b6a8-cfce7f0a1ce3",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.textSplitterTokenSplitter",
      "typeVersion": 1,
      "position": [
        2428,
        40
      ],
      "id": "5d0dd415-746c-4328-a64c-168574297bca",
      "name": "Token Splitter"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -168,
        980
      ],
      "id": "f80fb50b-eb16-4064-bd5f-ee5e07051af4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -200,
        1200
      ],
      "id": "a63d6f20-fb04-40f4-9d15-13388154fd2b",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "Leo8yrirPIOn81hp",
          "name": "Google Gemini Chat Model"
        }
      }
    },
    {
      "parameters": {
        "tableName": "youtube_chat_histories"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -80,
        1200
      ],
      "id": "3b6c94db-8bd4-4c7e-b57f-2fee945ec557",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "zzr7gmvUCrOHnErv",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -420,
        980
      ],
      "id": "b478d625-6f58-45c5-98b9-efdb8c7f7058",
      "name": "When chat message received",
      "webhookId": "f674f175-b521-4804-8877-10f230777c15"
    },
    {
      "parameters": {
        "modelName": "models/embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        2220,
        640
      ],
      "id": "9b5bbf16-66ff-4264-aba0-15a1a5736c7e",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "Leo8yrirPIOn81hp",
          "name": "Google Gemini Chat Model"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $('Code').item.json.script }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        2340,
        642.5
      ],
      "id": "70195b0b-f284-4a03-9baa-a94ef56a0dea",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        2428,
        840
      ],
      "id": "694382a7-7361-469d-9c90-6983f2829b8f",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "={{ $json.script }}",
          "mode": "id"
        },
        "options": {
          "collectionConfig": "="
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.2,
      "position": [
        2236,
        420
      ],
      "id": "68fa1204-53f4-43c1-8612-52b160f942c4",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "sFfERYppMeBnFNeA",
          "name": "Local QdrantApi database"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "youtube_knowledge_base",
        "toolDescription": "Work with your data in Qdrant Vector Store",
        "qdrantCollection": {
          "__rl": true,
          "mode": "id",
          "value": ""
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.2,
      "position": [
        280,
        1280
      ],
      "id": "b2f58c4a-277f-4686-a5df-caeccd20208c",
      "name": "Qdrant Vector Store1",
      "credentials": {
        "qdrantApi": {
          "id": "sFfERYppMeBnFNeA",
          "name": "Local QdrantApi database"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        280,
        1460
      ],
      "id": "42c1dba7-1a3b-41d8-9efe-1cd871fdc715",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "Leo8yrirPIOn81hp",
          "name": "Google Gemini Chat Model"
        }
      }
    }
  ],
  "pinData": {
    "Code": [
      {
        "json": {
          "script": "안녕하세요 투자에 도움이 되는 정보를 쏙쏙 골라 전해드리는 글로벌 투자 리포트 저는 진행을 맡은 신예지 저는 윤자빈입니다 자빈 님 저희 오늘 옷이 보라색으로 똑같아요 그러니까요 저도 운을 보고 깜짝 놀랬어요 어 또 보라색이 흔하게 입는 색깔은 아니잖아요 혹시 보라색이 어떤 의미를 가지고 계신지 아실까요 의미는 잘 모르겠지만 뭔가 좀 제가 느끼기엔 우울한 색깔인 거 같기도 하고 또 신비로운 느낌도 들고요 저는 그런 느낌이 좀 드는데 정치권에서이 보라색은 보수랑 진보를 나타내는 빨간색과 파란색을 섞었다는 의미에서 정치적인 중도이자 화합을 좀 상징한다고 합니다 어 듣고 보니까 뭔가 떠오르는 거 같기는 한데이 몇 달 전에 트럼프 대통령이 의회 보라색 넥타일을 메고 와서 정치적 화합 상징 아니냐 뭐 이런 기사를 본 거 같아요 맞아요 트럼프뿐만 아니라 실제 정치권에서 넥타인은 본인의 메시지를 전달하기 위해서 다양하게 이용이 되죠 보통 보라색을 매는 경우는 화합 또는 평등을 많이 상징한다고 합니다 음 음 그러면 오늘 저희 주제랑도 좀 겹치는 부분이 있는 거 같아요 이따 저희가 설명드릴 부분이긴 한데 요즘 또이란 이스라엘 전쟁으로 이야기가 계속 나오고 있잖아요 네 참 마음 아픈 소식이죠 전쟁이라는게 국민들의 안전에 고스란이 위협이 되는 정말 끔찍한 일이잖아요 그렇죠 저희가 입은이 보라색처럼 얼른 화합이 좀 이루어졌으면 좋겠습니다 그리고이 전쟁 우리가 어떻게 대처해야 할지 한번 좀 미리 공부를 해 봐야겠죠 에님 준비하신 소식 알려 주시죠 네 저희가 앞서 언급한 것처럼 갑작스럽게 전쟁 국면이 지속되고 있습니다 관련 리포트 발행이 따라오기 어려울 정도로 전쟁 국면이 악화로 치닫고 있는데요 첫 번째 리포트는 중동 관련 소식입니다 삼성증권의 리포트고요 서정훈 애널리스트가 작성한 중동 지역 우려 제차 부각되며 하락이라는 제목입니다 네.요 요즘 미국 증시 흐름 다시 불안정해졌죠 sp 500도 나스닥도 일제히 하락했는데요 이번엔 또 어떤 리스크가 시장을 흔든 걸까요 네 이번에도 역시나 중동발 리스크입니다 트럼프 전 트럼프 대통령이 G7 회의 중 자리를 박차고 나와서 미국 NSC 국가 안전보장 회의를 전격 소집했습니다 그리고 회의 측후이란 최고 지도자와 핵시설을 겨냥한 군사 작전 가능성을 직접 언급했는데요.이 한마디에 시장이 바로 반응했죠 국제가는 WTI 기준 74.84달러 하루 만에 4.28% 급등하며 지난 1월 하순 이후 최고치를 경신했습니다 특히 미국체 10년물도 5.74비b 하락해 0.06% % 포인트 소폭 하락하는 모습도 보여줬습니다 글로벌 투자자들은 다시 위험 해피 모드로 들어간 건데요 같은 날 미국 주요 지수는 줄줄이 하락하는 모습 보여줬습니다 그래프를 보시면 S&P 500과 미국체 그리고 달러 인덱스의 3개월 추위가 나와 있습니다 시장 금리는 안전자산 선호 형상과 주요 경제 지표의 부진 여파로 하락하는 모습 보여줬습니다 전쟁이 화두에 오른 이날 10년 만기 및 국채 수익률은 5.74b락해 4.39% 수준을 나타냈습니다 이연물은 EBP 하락한 3.95%를 기록했는데요 반면 달러 인덱스는 안전자산 선호 현상을 적극 반영하며 전일비 1% 가까이 반등하는 모습 보여줬습니다 네 역시 중동의 군사적 긴장감이 시장을 덮어 버린 것 같습니다 근데 또이 와중에 옳은 업종이 있다면서요 네 상승한 건 단 하나 바로 에너지 섹터입니다 유가가 급등했으니 당연히 원유 관련 주식들이 반사 이익을 본 거죠 표를 보시면 다른 섹터들은 하락폭을 키운 반면 에너지만 수익률 상승한 모습 보였습니다 로키드 마틴은 2.6%에 상승한 수익률을 보였고 쉐보로는 1.9% 상승 X모빌도 1.4% 상승하며 수익률 소폭 상승하는 모습 보였습니다 네 기술주 얘기 조금 더 해 볼게요 요즘 분위기 보니까 테슬라나 엔비디아도 좀 많이 올랐던데요 네 정확합니다 특히 어도비 같은 경우에 실적 발표 직후 수익률이 -4.7% 급락하는 모습 보여줬는데요 테슬라는 -3.9% 9% 때 서오피셔 사이언티픽이란 건강 관리 섹터의 종목도 3.7% 하락하는 모습 보여줬습니다 m7 종목 중엔 애플이 1% 대에 빠졌고 M비디아 1.67 AMD도 2% 이상 빠지는 모습 보여줬는데요 전반적으로 반도체 AI 클라우드 중심의 고밸류 종목들이 하루 만에 쏟아졌다고 보시면 되겠습니다 이런 하락은 시장이 리스크에 가장 민감하게 반응하는 영역이 바로 미래 성장 기대주라는 걸 보여줍니다 네 미국채 금리는 하락했는데 강세를 보인 것도 있을까요 네 앞서 언급한 것처럼 미국 국채 금리 하락했습니다 경기 둔화에 대한 우려가 반영된 모습 보여줬는데요 반대로 달러는 강세 전환했습니다 달러 인덱스는 0.8% 올라 98.78포인트 78포인트 환율도 1470원대 중후반을 유지하는 모습 보여줬습니다 이게 뭘 의미하냐면 시장 전체가 불확실성일 땐 달러로 반응하고 있다는 것입니다 경기는 불안하지만 일단 돈은 가장 안전한 자산으로 물린다는 거죠 네 이런 흐름 속에서 투자자들이 앞으로 어떤 자산에 주목해야 될까요 네 삼성증권은 이번 사태를 단기 이벤트라기보다 트럼프의 외교 노선이 본격화되는 신호탄으로 봤습니다 선거 국면과 맞물리면서 향후 몇 달간 중동 리스크는 반복적으로 등장할 수 있다는 분석입니다 그럴수록 시장은 방산 에너지 대체 자산 중심으로 포트폴리오를 옮겨갈 가능성이 커집니다 특히 기술주처럼 금리의 민감한 자산은 반등에도 탄력은 제한적일 수 있다는 분석입니다 요약하면 지금은 단기 반등을 노리기보다 어떤 자산이 위기를 버틸 수 있는가 그걸 보는게 중요한 시점이라고 할 수 있겠습니다 네 전쟁 관련해서 잘 짚어 주셨습니다 요즘 주식 시장 뭔가 방향이 애매하다고 느끼신 적 많으시죠 급락도 없고 뚜렷한 반등도 없는 시장 당분간 이어질 횡보 장세에 대해 알아보고 이런 장세에 어떤 투자 전략이 유효할지 살펴보겠습니다 어 그런데 횡보 장세 뭔가 처음 들어보는 용어 같은데 어떤 뜻인지 좀 설명해 주실 수 있을까요 네 먼저 단어 뜻부터 설명드리면 횡보는 가로로 걷는다라는 뜻입니다 즉 주가나 자산 가격이 일정 구간에서 오르내리지 않고 가로로 옆으로만 움직이는 시장 상황을 말합니다 주식시 주식 시장이나 비트코인 같은 자산이 크게 오르지도 크게 떨어지지도 않고 비슷한 가격대에서 머무르는 상태 이걸 횡보 장세라고 부릅니다 최근에 주식 시장이 큰 움직임 없이이 눈치만 보는 흐름을 계속하고 있는 거 같은데 이거를 흔히 횡보 장세라고 부르는군요 네 이런 횡보 장세일 때는 투자자들의 고민도 커집니다 들어가야 될까 아니면 기다려야 될까 왜 이런 흐름이 이어지고 있는 걸까요 가장 큰 이유는 불확실성이 줄고 있기 때문입니다 대표적인 예가 관세입니다 올해 초까지만 해도 시장의 가장 큰 걱정은 미국과 주요 국가 간의 무역 갈등이었습니다 무역 전쟁이 다시 터질까 미국이 중국이나 유럽의 관세를 또 부과할까 이런 우려가 컸던 겁니다 하지만 최근들어 이런 공포가 눈에 띄게 잦아들고 있습니다 6월에 진행된 글로벌 펀드 매니저들을 대상으로 한 뱅크 아메리카 설문 조사 결과를 보면요 그 변화가 뚜렷하게 보입니다 무역 전쟁의 글로벌 경기 침체를 가져올 거다.이 응답이 5개월 연속 1위를 차지하긴 했지만 그 비율은 점점 낮아지고 있습니다 4월에는 무려 80%가이 응답을 골랐지만 이번 달에는 47%로 뚝 떨어졌습니다 투자자들의 걱정이 절반 가까이 줄어든 셈입니다 이번 조사에선 앞으로 미국의 평균 관세율은 어느 정도일까 이런 질문도 포함되는데요 가장 많은 응답은 10% 또는 15% 수준이었고 전체적인 평균으로는 13%로 집게됐습니다 즉 전 품목에 무차별적으로 부과되는 광범위한 관세보다는 일부 품목과 국가에 국한된 선택적 관세가 유력하다는 전망입니다.이는 시장에 큰 충격을 주진 않을 것이라는 뜻이기도 합니다 시장 불확실성 하나가 줄어들자 연쇄적으로 다른 우려들도 완화되고 있습니다 설문에서 향후 1년 안에 글로벌 경기가 경착력할 것이다 이렇게 답한 비율도 4월 49%에서 이번 달엔 13%까지 내려왔습니다 거의 1 수준으로 줄여든 겁니다 투자자들 입장에서는 지금 당장 위기는 아니다라는 인식이 자리잡기 시작한 거죠 자비 님 말씀해 주신 것처럼이 시장의 악재가 줄었는데 왜 주가는 오르지 않을까요 그리고 또 뭔가 안 좋은 일이 없어졌으면 다시 반등해야 되는게 맞지 않을까 좀 이런 생각이 드는데요 네 맞습니다 일반적으로 생각하면 다시 반증해야 하는게 맞죠 하지만 증시가 오르지 않은 이유는 간단합니다 호재가 없기 때문입니다 악재는 사라졌지만 새로운 상승 자료도 보이지 않기 때문에 시장 전체가 일단 멈춤 상태에 놓여 있는 겁니다 비슷한 상황은 과거에도 있었습니다 미국 개인 투자자 협회 투자 심리 지표를 보면요 낙관과 비관이 균형을 이룰 때 시장도 대체로 조용했습니다 특히 낙관론자와 비관론자의 비율 차이가 0% 포인트를 넘어섰을 때 시장에선 2개월 정도의 횡보장이 이어진 바가 있습니다 이번에도 마찬가지입니다 시장 참가자들은 7월 하순 대형 기술주의 실적 발표 시점까지는 크게 움직이지 않을 것으로 보고 있습니다 횡보장이 계속되지만 시장을 진누르고 있는 또 다른 리스크도 있습니다 바로 고금리 환경입니다 최근 트럼프 대통령과 공화당이 one big beautiful bill act라는 감세안을 발표했는데요.이를 두고 경기 부양 효과는 적고 재정 적은 키울 것이다라는 평가가 우세합니다 어이 big빅 beful bill 액이 감세한 얘기가 요즘 계속 들려오고 있는데 조금 더 자세하게 풀어 주세요 이름이 너무 예쁜 거 같은데요?네 이름이 너무 예쁘죠 하나의 크고 아름다운 법안 바로 도널드 트럼프 대통령이 직접 붙인 이름입니다 이름만 보면 좀 다소 감성적인 표현으로 보일지도 모르지만 실제로는 재선을 겨냥한 대규모 감세 법안을 의미합니다 트럼프 대통령은 2017년 집권 당시 감세와 일자리 법을 통해 법인세를 35%에서 21%로 대폭 인하한 바가 있습니다.이 조치는 당시 기업 이익을 크게 늘렸고 또 주식 시장에는 호재로 작용했죠 그리고 지금 그 감세 유효 기간은 2025년에 만료됩니다 그래서 트럼프는 그 감세를 아예 연구화하겠다라는 입장을 내놓고 있는 겁니다 구체적인 조항은 아직 공개되지 않았지만 트럼프의 언행을 조합 종합한다면 다음과 같은 방향입니다 법인세 감세 유지 소득세 감면 연장 상속세 완화 또는 폐지 규제 완화 재강조 미국의 재정 상황이 이미 좋지 않은 상황에서 감세를 또 추진한다면 어떻게 될 거 같으세요 당연히 정부의이 세입이 좀 줄어들고 그리고 그만큼 재정적 적자가 커질 수밖에 없다고 좀 생각이 드는데요 그래서 좀 아까 말씀하셨던 것처럼 시장이이 법안에 대해서 그리 낙관적이진 않겠다 이런 좀 생각도 듭니다 네 맞습니다 뱅크 오브 아메리카 펀드 매니저 설문 주사에서도 설문 응자의 81%는이 감세안이 재정적자를 더 키울 것이라고 답했죠 정부의 재정적자가 늘어나면 국를 더 많이 발행해야 하고 결국 금리도 올라갈 수밖에 없겠죠 특히 장기 금리에 대한 우려가 큽니다 같은 설문에서 1년 뒤 금리가 지금보다 높아질 것이라는 응답 비율이 지금보다 낮을 것이다라는 응답을 크게 앞질렀습니다.이는 금리의 새 기준점이 이미 높아졌다는 의미이기도 합니다 그럼이 지금과 같은 상황에서는 좀 어떤 종목을 주목해야 될까요 네 요즘 같은 시장이 참 어렵죠 핵심은 두 가지 조건입니다 첫째 자금 조달이 쉬운 기업 둘째 성장 동력이 확실한 기업 특히 금리가 높은 상황에서는 현금이 풍부하고 부채가 적은 기업이 유리합니다 대표적인 예가 AI 인프라 기업입니다 최근 엔비디아가 선보인 신형 서버렉 NVL 72가 본격적으로 추화되면서 전력 수요가 급쟁하고 있습니다 이로 인해 전력 인프라 구축 관련 기업들도 같이 주목받고 있는 겁니다 비록 중소형 기업일지라도 미래 성장성이 확실하기 때문에 높은 할인율 환경에서도 빛을 발휘하고 있습니다 마지막으로 FOMC 회의에 대해 짚어 보겠습니다 지금 시장은 FMC가 금리를 당장 내릴 것이라고 보고 있지 않습니다 고용도 여전히 탄탄하고 물가도 안정되어 있지만 향후 관세 인상 등이 인플레이션을 자극할 수도 있거든요 그럼에도 불구하고 시장에서는이 같은 전망이 이미 반영되어 있기 때문에 이번 FMC에서 충격적인 결과는 없을 거라는 분석입니다 지금 시장은 관세 불확실성이 줄어든 대신 고금리와 재정적자 부담이 커지고 있는 상황입니다 주가는 움직임이 적고 새로운 상승 자료가 필요해 보입니다 이런 장세에서는 자금 조달 비용이 낮고 현금 흐름이 안정적인 기업에 주목하셔야 됩니다 그리고 AI 전력 인프라처럼 성장성이 뚜렷한 분야는 지금처럼 할인율이 높은 환경에서도 가치가 유지될 수 있다는 점 기억하시면 좋겠습니다 7월 하순 대형 기술주 실적 발표가 있기 전까지는 인내 시간이 될 수도 있겠습니다 하지만이 시간 동안 탄탄한 기업을 잘 골라 놓는다면 반등 국면에서 더 큰 기회를 잡을 수도 있겠습니다 네 자비 님이 가져오신 소식 잘 들어봤는데요 다음 달인 7월 하순에 발표되는 대형 기술주의이 실적 발표도 지금부터 관심을 좀 가져봐야겠다는 생각이 듭니다 제가 가져온 다음 리포트는 NH 선물의 리포트입니다 위재원 애널리스트가 작성한 달러 발작 지속 고민해 볼 트럼프의 의도라는 제목입니다 요즘 환율이 다시 들썩이고 있습니다 바로 트럼프 전 대통령의 발언 때문인데요 앞서 말씀드린 것처럼 NSC 즉 국가 안전보장 회의를 직접 소집했습니다.이 자리에서 일한 최고 지도자에 대한 직접 타격 가능성도 언급했는데요 하지만 NH 선물은 트럼프의이 발언 협상용 위협으로 해석했습니다 실제로 미국 전쟁 연구소에 따르면 이란은 이미 미사일 체계가 상당히 손실된 상태고요 그래서 트럼프는 상대적으로 저항이 약한 쪽을 겨냥한 걸로 분석되죠 즉 위협은 크지만 실천 가능성은 낮다 이게 오히려 시장에선 단기 트레이딩 기회로 해석됐다고 볼 수 있겠습니다 네 그렇다면 경제 지표는 어땠나요 그날 손매 판매도 발표된 걸로 아는데 결과가 좀 어땠을까요 네 같은 날 발표된 5월 미국 소매 판매는 - 0.9% 예상치인 - 0.5%보다도 낮았고 전널치인 0.1%보다도 훨씬 부진한 모습 보여줬습니다 특히 자동차 부분이 -3.5%나 5%나 줄어들었습니다 그림을 보시면 소매 판매 지표가 어떻게 급락했는지 한 눈에 보실 수 있는데요 하지만 그럼에도 불구하고 달러는 강세를 보였다는게 흥미로운 부분이죠 이건 지표보다 심리 즉 지정학적 리스크가 시장을 지배했다는 현상이기도 합니다 네 앞으로 환율은 어떻게 움직일까요?이 강달러 흐름이 지속될 가능성이 좀 있을까요 네 단기적으로는 1375에서 1385원 박습권이 좀 유력하다고 볼 수 있습니다 하지만 다양한 변수들이 좀 있는데요 첫째 미국 연준의 SLR 규제 완화 논의가 본격화됩니다 이게 유동성을 다시 늘릴 수 있어서 달러 공급이 많아지면 강달러의 제동이 걸릴 수가 있죠 또한 미국 전쟁 연구소에 따르면 이란의 미사일 책에 상당 부분 파손되어 이스라엘에 대한 보복 강도가 상당히 약해진 것이 확인되었기 때문입니다 둘째 트럼프의 발언이 실제로 군사 충돌로 이어질는 아직 미지수입니다 그래서 지금의 급등이 일시적인 과인 반응에 불과할 수 있다는 분석도 나옵니다 결국 지금 같은 장에선 심리와 수급 지정학적인 이슈를 함께 보는 시야가 중요하겠습니다 제가 분석한 리포트는 여기까지고요 자비 님 아까 주식 이야기할 때 횡보 장세라고 좀 얘기를 했는데 코인 시장도 좀 비슷한 흐름이라고요 네 요즘 비트코인 가격이 좀처럼 움직이지 않고 있습니다 현재 비트코인은 1억 4,500만 원대에서 횡보하고 있습니다 이런 정체 흐름 배경에는 지정학적 긴장감 특히 중동발 리스크가 자리하고 있는데요 가장 큰 변수는 트럼프 대통령의 발언입니다 현재 시간 17일 트럼프 대통령은 백악관 국가 안전 보장 회의 즉 NSC를 직접 주제했습니다.이 이 회의이 회의에서 그는 이란에 대한 군사 개입 방안을 한시간 넘게 참모들과 논의한 것으로 알려졌습니다 트럼프는 SNS를 통해 강경한 입장도 밝혔습니다 우리는 이란의 최고 지도자가 어디에 숨어 있는지 알고 있다 우리의 인내심은 한계에 다달았다 이란은 무조건 항복해야 한다 어 굉장히 거친 표현인데요 네 이같은 트럼프의 발언이 전해지면서 시장에 다시 한번 중동발 긴장감이 퍼지기 시작했습니다 비트코인 역시 이에 반응했습니다 중동 갈등이 커질 거라는 우려에 신규 매수세 유입이 줄었고 가격은 치지부진한 흐름을 이어가고 있습니다 하지만 흥미로운 분석도 나왔습니다 장기적으로는 이런 갈등이 오히려 비트코인에 긍정적인 영향을 줄 수 있다는 분석인데요 블록체인 인프라 기업 벨의 공동 설립자 미틸타 타타콜레는 이렇게 말했습니다 지정 학적 갈등은 글로벌 인플레이션을 자극한다.이는 결국 재정 지출 확대나 통화 완화 원자재 가격 상승으로 이어질 수 있다 그리고 이런 환경은 비트코인에는 유리한 조건이라는 겁니다 그럼 지금처럼 이런 현금 가치가 흔들릴 때 비트코인이 좀 대안이 될 수도 있다는 건가요 네 맞습니다 하지만 이것만으로는 부족한데요 비트코인이 분쟁에 어떻게 반응할지를 살펴보려면 세 가지 변수도 함께 살펴봐야 합니다 첫째 가상자산의 채택 수준 쓱 즉 실제로 얼마나 많은 국가와 기업이 비트코인을 받아들이고 있는가 둘째 전통 금융 시장과의 연관성 요즘 비트코인은 미국 주식 시장과 비슷한 방향으로 움직이는 경우가 많죠 셋째는 지리적 접근성 전쟁이나 분쟁에 가까운 국가일수록 더 큰 변동성과 손실을 겪는 경향이 있습니다 지금 비트코인 시장의 구조는 서구 기관 중심으로 재편되고 있습니다 과거처럼 개인 투자자 위주가 아니라 이제는 펀드 연기금 대형 자산 운용사들이 비트코인의 흐름을 좌우하고 있는 겁니다 어 확실히 이전처럼 뉴스에이 즉각적으로 반응하기보다는 좀 중장기적인 흐름에 따라서 가격이 움직이는이 경향이 강해졌다는 해석도 해 볼 수 있겠네요 네 정확히 짚어 주셨습니다 한편 투자 심리를 보여주는 공포 탐욕 지수도 굉장히 흥미롭습니다 글로벌 데이터 조사 기관 얼터너티브에 따르면요 전날 이지수는 52점 딱 중립 수준입니다 이틀 전 68점 즉 탐욕 단계였던 것과 비교하면 심리는 확연이 식었다는 뜻이죠 해당 지수는 0에 가까울수록 공포 100에 가까울수록 낙관입니다 현재 시장은 아직 방향을 잡지 못하고 잠시 눈치를 보는 분위기라고 볼 수 있겠습니다 정리해 보자면요 비트코인은 지금 1억 4천만 원대에서 횡보 중입니다 트럼프의이란 군사임 논의로 중동 리스크가 부각되면서 시장에 잠시 긴장감이 돌았고요 단기적으로는 하방 압력 하지만 장기적으로는 인플레이션 해지 수단으로서 긍정적인 전망도 나오고 있습니다 비트코인의 특성상 한번 방향이 정해지면 움직임이 커질 수 있는만큼 뉴스의 본질 그리고 심리 지표의 흐름을 함께 지켜보는 시선이 중요해 보입니다 네 이렇게 오늘 세 가지의 리포트 살펴봤는데요 오늘 시장 흐름을 먼저 짚으면서 시장 침체 즉 횡보 장세가 왜 이어지는지를 다시 한번 확인했죠 악재가 줄었지만 호재는 여전히 부제하고 금리가 쉽게 내려가지 않으니 투자 심리는 회복되지 않고 있습니다 그럼에도 글로벌 펀드 매니저들 사이에서는 무역 전쟁이 글로벌 경기 침체를 가져올 것이라는 의견이 설문 조사에서 47%로 뚝 떨어진 모습 보였죠 그래서 저는 이런 시기에는 현금 흐름이 좀 탄탄한 기업을 중심으로 대응하는게 효과적이라고 생각합니다 덧붙이자면 비트코인 역시 중동 리스크가 완화된 뒤 횡보 흐름을 보이고 있습니다 급등이나 급락 없이 안정적인 구간에 머물러 있다는 점도 시사하는 바가 있다고 생각합니다 네 네 저는 두 가지 리포트를 다뤄봤는데요 첫 리포트에선 중동 관련 트럼프 대통령의 군사적인 발언이 달러와 육과 그리고 환율에 어떤 영향을 미치는지 알아봤습니다 두 번째 리포트에선 외국인 투자 흐름에 좀 주목을 해 봤는데요 특히 최근엔 환율과 달러 인덱스 간의 괴리가 발생했는데이는 글로벌 변수보다 국내 변수가 더 강한 영향을 주기 시작했다는 신호일 수도 있습니다 이처럼 수치의 움직임은 그 자체가 정서이고 그 정서를 다각도로 읽어내는게 중요하다는 점을 다시 한번 좀 느껴봤던 시간인 거 같은데요 네 맞습니다 숫자는 그냥 숫자가 아니라 그 안에 시장의 심리와 흐름이 담겨 있죠 네 앞으로도 글로벌 투자 리포트에서 숫자 뒤에 숨은 심리 함께 분석해 보도록 하겠습니다 지금까지 서울경제TV 글로벌 투자 리포트 저는 신예지 저는 윤자빈이었습니다"
        }
      }
    ],
    "Summarization Chain": [
      {
        "json": {
          "output": {
            "text": "글로벌 투자 리포트 요약:\n\n- 최근 국제 정세 불안과 그에 따른 시장 영향 분석 및 투자 전략 제시\n- 보라색의 상징처럼 시장의 화합과 안정을 기원하며, 불확실성 속 투자 방향 모색\n\n(1) 중동 리스크와 시장 영향\n  - 트럼프 전 대통령의 군사 작전 가능성 언급으로 국제 유가 급등, 미국 국채 금리 하락 등 시장 변동성 확대\n  - 에너지 섹터는 유가 급등으로 상승, 기술주는 하락. 시장은 위험 회피 모드 전환\n\n(2) 횡보 장세 분석 및 투자 전략\n  - 불확실성 감소에도 불구하고 뚜렷한 호재 부재로 횡보 장세 지속, 고금리 환경이 투자 심리 억제\n  - 자금 조달이 용이하고 성장 동력이 확실한 기업(AI 인프라 관련주)에 주목, 단기 반등보다 위기 대응 가능한 자산 선택 중요\n\n(3) 환율 및 외환시장 분석\n  - 트럼프의 발언은 협상용 위협으로 해석, 단기 트레이딩 기회로 활용 가능성 제시\n  - 5월 미국 소매 판매 부진에도 달러 강세 유지, 지정학적 리스크가 시장 심리 지배\n  - 단기적으로 환율은 1375-1385원 박스권 예상, 연준의 SLR 규제 완화 논의 및 이란의 군사력 약화 변수 존재\n\n(4) 비트코인 시장 분석\n  - 비트코인은 1억 4,500만원대에서 횡보, 트럼프의 이란 군사 개입 논의로 시장 긴장감 고조\n  - 장기적으로 지정학적 갈등은 인플레이션 자극, 비트코인에 긍정적 영향 가능성 제시\n  - 시장 심리는 중립 상태, 뉴스와 심리 지표 흐름을 함께 지켜보는 것이 중요"
          }
        }
      }
    ]
  },
  "connections": {
    "Check for errors": {
      "main": [
        [
          {
            "node": "If the HTTP request failed, throw the error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split out subscriptions to process individually",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get my subscriptions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter out shorts": {
      "main": [
        [
          {
            "node": "Get Youtube Transcripts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get video details": {
      "main": [
        [
          {
            "node": "Filter out shorts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter out channels": {
      "main": [
        [
          {
            "node": "Get latest 15 videos of each channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get my subscriptions": {
      "main": [
        [
          {
            "node": "Check for errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get latest 15 videos of each channel": {
      "main": [
        [
          {
            "node": "Keep only videos published since last run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Only keep channels with unwatched videos": {
      "main": [
        [
          {
            "node": "Filter out channels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keep only videos published since last run": {
      "main": [
        [
          {
            "node": "Get video details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split out subscriptions to process individually": {
      "main": [
        [
          {
            "node": "Only keep channels with unwatched videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        []
      ]
    },
    "Get Youtube Transcripts": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Summarization Chain",
            "type": "main",
            "index": 0
          },
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Summarization Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Summarization Chain": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Summarization Chain",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5c559184-55a4-468b-9ee9-d89b3705b045",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "xtd0DK0BKHdUP4tY",
  "tags": []
}